<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>
			<%= f.label :name, "الاسم" %>
			<%= f.text_field :name %>

			<%= f.label :email, "البريد الإلكتروني" %>
			<%= f.text_field :email %>

			<%= f.label :password, "كلمة السر" %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "تأكيد كلمة السر" %>
			<%= f.password_field :password_confirmation %>

			<%= f.submit "إنشاء حساب جديد", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
